@import '../../variables.scss';

.content-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 100px;

  h1, h2 {
    text-align: center;
    color: #333;
  }

  .news-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px;
    padding: 20px;
  
    .news-content-box {
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      text-align: center;
      transition: transform 0.3s ease;
  
      &:hover {
        transform: translateY(-5px);
      }
  
      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 8px;
      }
  
      h4 {
        font-size: 1.2rem;
        margin: 15px 0;
      }
  
      p {
        font-size: 1rem;
        color: #666;
      }
  
      button {
        background-color: $secondary-blue;
        color: #fff;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
        font-size: 1rem;
        transition: background 0.3s ease;
  
        &:hover {
          background-color: $green-color;
        }
      }
    }
  }
  
      
      h4 {
        font-size: 1.1rem;
        color: #2c3e50;
        margin-bottom: 10px;
      }
      
      p {
        font-size: 1rem;
        color: #555;
        line-height: 1.6;
      }
    }
  
  

  p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
  }

  .law-content a {
    color: $primary-blue;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: $secondary-blue;
    }
  }

 .news-item, .law-update {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .update-item, .law-update {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
    .update-content, .law-content {
      display: flex;
      align-items: center;
      gap: 20px;
      img {
        width: 250px;
        object-fit: cover;
        border-radius: 8px;
      }
      
      .update-image, .law-image {
        width: 40%;
        max-width: 250px;
        border-radius: 8px;
        object-fit: cover;
      }
  
      .update-text, .law-text {
        flex: 1;
  
        h3 {
          font-size: 1.8rem;
          color: #003366;
          margin-bottom: 10px;
        }
  
        h4 {
          font-size: 1.5rem;
          color: #0073e6;
          margin-bottom: 10px;
        }
  
        p {
          font-size: 1rem;
          color: #555;
          line-height: 1.5;
          margin-bottom: 10px;
        }
  
        a {
          color: #0073e6;
          font-weight: bold;
          text-decoration: none;
        }
  
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }