@import '../../variables.scss';

.kontakt-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 40px;
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
    gap: 40px;
}

.kontakt-info {
    flex: 1;
    min-width: 300px;

    h1, h2 {
        color: $dark-color;
    }

    a {
        color: $primary-blue;
        text-decoration: none;
        font-weight: bold;

        &:hover {
            color: $green-color;
        }
    }

    p {
        margin: 5px 0;
        font-size: 15px;
    }
}

.kontakt-form {
    flex: 1;
    min-width: 300px;
    background: $light-grey;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    h2 {
        margin-bottom: 15px;
        color:$dark-color;
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 10px;
            font-weight: bold;
        }

        input, textarea {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;

            

            &:focus {
                outline: none;
                border-color: $primary-blue;
                box-shadow: 0 0 5px rgba(0, 115, 230, 0.5);
            }
        }

        textarea {
            height: 100px;
            resize: none;
            
        }
        input::placeholder,
        textarea::placeholder {
        font-family: 'Archivo', sans-serif;  
       }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            margin-left: 25px;
            padding: 10px 15px;
            border: none;
            background: $secondary-blue;
            color: white;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
            transition: background 0.3s ease-in-out;

            &:hover {
                background: $green-color;
            }
        }
    }
}
@media (max-width: 480px) {
    .kontakt-container {
      flex-direction: column;
      align-items: center;
      gap: 20px; 
      padding: 20px; 
    }
  
    .kontakt-info, 
    .kontakt-form {
      width: 100%;
      margin-bottom: 20px; 
    }
  
    h1, h2 {
      font-size: 1.5rem; 
    }
  
    .kontakt-form {
      padding: 20px; 
    }
  
    .kontakt-form input,
    .kontakt-form textarea {
      font-size: 14px; 
    }
  
    .kontakt-form button {
      font-size: 14px; 
      padding: 8px 12px; 
    }
  }
  

  @media (max-width: 768px) {
    .kontakt-container {
      flex-direction: column;
      align-items: center;
      gap: 30px; 
      padding: 30px; 
    }
  
    .kontakt-info, 
    .kontakt-form {
      width: 100%;
    }
  
    h1, h2 {
      font-size: 1.7rem; 
    }
  
    .kontakt-form {
      padding: 30px;
    }
  
    .kontakt-form input,
    .kontakt-form textarea {
      font-size: 15px; 
    }
  
    .kontakt-form button {
      font-size: 15px; 
      padding: 12px 18px; 
    }
  }
