@import '../../variables.scss';

.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  &:hover {
    color: $green-color;
  }

  .search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }

  .search-input {
    padding: 8px 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 200px;
    transition: all 0.3s ease;
    box-sizing: border-box;
  }

  .search-results {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
  }

  .search-result-item {
    padding: 10px;
    margin: 5px 0;
    background-color: #fff;
    border-radius: 5px;
  }

  .search-result-item h3 {
    margin: 0;
    font-size: 18px;
    color: #007BFF;
  }

  .search-result-item p {
    font-size: 14px;
    color: #333;
  }
}
