@import '../../variables.scss';
.login-container {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
  
    a {
      color: #333;
    }
  
    &:hover {
      color: $green-color;
    }
  }
  
  .dropdown-menu {
    position: absolute; 
    top: 35px;
    left: 0; 
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-menu button {
    background-color: $primary-blue; 
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
  
    &:hover {
      background-color: $green-color;
    }
  }
  
  .dropdown-menu button:focus {
    outline: none;
  }
  
  .loading-message {
    font-size: 14px;
    color: #888;
  }
  