@import '../../variables.scss';

.login-container {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
  
    p {
      margin: 0;
      color: #333;
      font-size: 16px;
    }
  
    &:hover {
      color: $green-color; 
    }
  }
  
  .log-in-dropdown-menu {
    position: absolute;
    top: 35px; 
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;

    padding: 10px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;

    h3 {
        text-align: center;
        color: black;
        
    }
  }
  
  .scrollable-buttons {
    max-height: 300px; 
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    gap: 5px;

 
    
  }

  .log-in-dropdown-menu .scrollable-buttons .scrollable-button {
    all: unset;  
    display: block;
    background-color: $primary-blue; 
    color: #fff;
    padding: 10px;
    margin: 5px 0;  
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 80%; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
    &:hover {
        background-color: $green-color;
    }
}


  
  
  .scrollable-buttons::-webkit-scrollbar {
    width: 6px;
  }
  
  .scrollable-buttons::-webkit-scrollbar-thumb {
    background-color: $green-color;
    border-radius: 3px;
  }
  
  .scrollable-buttons::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  