@import '../../variables.scss';

.login-container {
    display: flex;
    align-items: center; 
    gap: 10px; 
    cursor: pointer;

    &:hover {
                       
        color: $green-color; 
        }
}
.new-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: $lighter-grey; 
    padding: 20px;
    box-sizing: border-box;

    .button-container {
        display: flex;
        flex-direction: column;
        gap: 20px; 
    }

    .login-btn {
        padding: 15px 30px;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        cursor: pointer;
        background-color: $primary-blue;
        color: $lighter-grey;
        border: none;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        transition: background-color 0.3s ease, transform 0.3s ease;

        &:hover {
            background-color: $green-color; 
            transform: translateY(-3px); 
        }

        &:focus {
            outline: none;
        }
    }
}